<!DOCTYPE>
<html>
    <head>
        <title>CUTE_TURTLE announce area</title>
    </head>
    <body>
        <div class="user">
            <h1 class="user__title">CUTE_TURTLE announce area</h1>
            <form class="form" action="https://turtlebot.handsomejy.repl.co/sended", method="get">
                <div class="input_lable">
                    <input type="text" placeholder="input text here" name="text" />
                    <input placeholder="input channel id here" name="channel"/>
                    <input type="password" placeholder="password" name="pswd"/>
                </div>
                <div class="btn">
                <button type="submit">send</button>
                </div>
            </form>
        </div>
    </body>
</html>
  
  
  <style>
    body{
      background-color:lightblue
    }
    .user .user__title{
      text-align: center;
    }
    .user .form{
      max-width: 300px;
      margin: 30px auto;
    }
    .user .form input{
      margin: 10px;
    }
    .user .form .btn{
      width: 100%;
    }
    .user .form .btn button{
      margin: 0px 70px;
    }
  </style>